In [1]:
import pandas as pd

df = pd.read_csv('transactional-sample.csv')

print(df.head())

df.info()

   transaction_id  merchant_id  user_id       card_number  \
0        21320398        29744    97051  434505******9116
1        21320399        92895     2708  444456******4210
2        21320400        47759    14777  425850******7024
3        21320401        68657    69758  464296******3991
4        21320402        54075    64367  650487******6116

             transaction_date  transaction_amount  device_id  has_cbk
0  2019-12-01T23:16:32.812632              374.56   285475.0    False
1  2019-12-01T22:45:37.873639              734.87   497105.0     True
2  2019-12-01T22:22:43.021495              760.36        NaN    False
3  2019-12-01T21:59:19.797129             2556.13        NaN     True
4  2019-12-01T21:30:53.347051               55.36   860232.0    False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3199 entries, 0 to 3198
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transaction_id      3199 non-null   int64
 1   merchant_id         3199 non-null   int64
 2   user_id             3199 non-null   int64
 3   card_number         3199 non-null   object
 4   transaction_date    3199 non-null   object
 5   transaction_amount  3199 non-null   float64
 6   device_id           2369 non-null   float64
 7   has_cbk             3199 non-null   bool
dtypes: bool(1), float64(2), int64(3), object(2)
memory usage: 178.2+ KB

In [2]:
# Convert data types
df['card_number'] = df['card_number'].astype(str)
df['transaction_date'] = pd.to_datetime(df['transaction_date'])
df['has_cbk'] = df['has_cbk'].astype(bool)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3199 entries, 0 to 3198
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transaction_id      3199 non-null   int64
 1   merchant_id         3199 non-null   int64
 2   user_id             3199 non-null   int64
 3   card_number         3199 non-null   object
 4   transaction_date    3199 non-null   datetime64[ns]
 5   transaction_amount  3199 non-null   float64
 6   device_id           2369 non-null   float64
 7   has_cbk             3199 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 178.2+ KB

In [3]:
df_filtered = df.dropna(subset=['device_id'])

df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2369 entries, 0 to 2920
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transaction_id      2369 non-null   int64
 1   merchant_id         2369 non-null   int64
 2   user_id             2369 non-null   int64
 3   card_number         2369 non-null   object
 4   transaction_date    2369 non-null   datetime64[ns]
 5   transaction_amount  2369 non-null   float64
 6   device_id           2369 non-null   float64
 7   has_cbk             2369 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 150.4+ KB

In [20]:
# Check if all device_id values have a zero decimal
all_zero_decimal = df_filtered['device_id'].apply(lambda x: str(x).endswith('.0')).all()

print(all_zero_decimal)

equals_minus_one = df_filtered['device_id'].apply(lambda x: x == -1).all()

print(equals_minus_one)

True
False

In [24]:
def convert_floats_to_int(df):
    # Convert valid values to integer (coerce for NaN)
    converted = pd.to_numeric(df['device_id'], errors='coerce')

    # Fill NaN with a sentinel value if you plan to keep the column numeric
    converted = converted.fillna(-1)  # Use a sentinel value appropriate for your data

    # Convert to integer type
    converted = converted.astype(int)

    # Assign the converted column back (avoids SettingWithCopy warning)
    df['device_id'] = converted
    return df

df = df.pipe(convert_floats_to_int)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3199 entries, 0 to 3198
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transaction_id      3199 non-null   int64
 1   merchant_id         3199 non-null   int64
 2   user_id             3199 non-null   int64
 3   card_number         3199 non-null   object
 4   transaction_date    3199 non-null   datetime64[ns]
 5   transaction_amount  3199 non-null   float64
 6   device_id           3199 non-null   int32
 7   has_cbk             3199 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(1), int32(1), int64(3), object(1)
memory usage: 165.7+ KB

In [27]:
mean_transaction_amount = df['transaction_amount'].mean()

print(mean_transaction_amount)

767.8129040325101

In [37]:
count_high_amount_transactions = (df['transaction_amount'] > 3000).sum()
print("transactions with high amount (> 3000):",count_high_amount_transactions)

high_amount_transactions = df[df['transaction_amount'] > 3000]
high_amount_transactions

transactions with high amount (> 3000): 142

,transaction_id,merchant_id,user_id,card_number,transaction_date,transaction_amount,device_id,has_cbk
86,21320484,84970,90182,464296******3991,2019-12-01 14:46:28.746288,3782.17,769545,True
92,21320490,30121,40779,520132******7705,2019-12-01 14:24:08.775683,3097.55,571604,False
96,21320494,28172,40779,520132******7705,2019-12-01 14:06:58.203861,3076.06,571604,False
162,21320560,5404,31867,536537******6127,2019-11-30 22:32:48.490482,3989.27,752936,True
174,21320572,1569,35108,550209******3601,2019-11-30 21:52:22.394056,3258.81,513783,False
...,...,...,...,...,...,...,...,...
3162,21323560,88549,20595,521370******1189,2019-11-02 16:59:38.725588,3438.59,417645,False
3165,21323563,41354,19820,606282******6581,2019-11-02 16:33:21.333131,4031.00,417645,True
3166,21323564,62052,69750,459383******9805,2019-11-02 16:08:15.927284,3084.48,417645,False
3167,21323565,12729,73391,512363******3915,2019-11-02 15:35:54.844270,4054.06,417645,False
3173,21323571,32186,72424,513557******2504,2019-11-02 12:09:00.766011,4044.35,417645,False

In [79]:
# Sort the DataFrame
df_sorted = df.sort_values(['user_id', 'transaction_date'])

# Calculate the time difference within each group
df_sorted['time_diff'] = df_sorted.groupby('user_id')['transaction_date'].diff()

# Check if any differences are less than 2 minutes
transactions_within_2min = df_sorted[df_sorted['time_diff'] < pd.Timedelta(minutes=2)]

transactions_within_2min

,transaction_id,merchant_id,user_id,card_number,transaction_date,transaction_amount,device_id,has_cbk,time_diff
3123,21323521,4039,266,482425******1320,2019-11-03 20:25:23.212894,235.70,417645,False,0 days 00:00:33.173242
450,21320848,23591,1836,444456******3799,2019-11-29 23:12:53.556465,708.34,889989,False,0 days 00:01:48.439832
1814,21322212,71378,9853,527407******8091,2019-11-22 18:57:08.043119,19.82,686249,True,0 days 00:01:07.654588
964,21321362,46045,10378,415944******1540,2019-11-28 15:41:40.107253,553.66,17372,True,0 days 00:00:57.319523
2573,21322971,44459,10405,515894******4290,2019-11-17 01:06:14.821040,258.46,856642,False,0 days 00:00:33.445949
3102,21323500,76725,16781,546056******2924,2019-11-04 14:55:21.764584,502.16,417645,True,0 days 00:00:32.744905
2751,21323149,55531,17407,498453******3618,2019-11-12 01:09:51.468180,2726.27,487691,False,0 days 00:01:01.437758
196,21320594,81795,17807,606282******2612,2019-11-30 20:24:00.906638,568.42,288714,True,0 days 00:01:00.267273
3108,21323506,62052,18227,550209******3098,2019-11-04 13:17:29.295709,941.39,417645,True,0 days 00:01:38.304480
2228,21322626,53041,28218,498406******7104,2019-11-20 21:42:21.655846,426.84,174844,True,0 days 00:01:28.091811
1092,21321490,55854,37113,543882******5366,2019-11-27 16:42:30.647520,253.65,386429,True,0 days 00:01:51.392667
2943,21323341,77130,42677,515601******8618,2019-11-08 20:41:36.944243,301.58,417645,True,0 days 00:00:18.161919
1579,21321977,88862,48426,516292******5657,2019-11-23 14:27:17.241083,242.21,484286,False,0 days 00:01:12.886572
2791,21323189,36929,49106,651660******3628,2019-11-11 16:22:55.617237,4043.43,743254,False,0 days 00:00:35.970662
1103,21321501,55854,53850,527468******1757,2019-11-27 14:52:55.108583,278.03,20098,True,0 days 00:00:49.106870
337,21320735,99510,56877,406655******8217,2019-11-30 14:51:49.542823,877.06,866529,True,0 days 00:00:17.225608
2372,21322770,29728,58011,534503******9806,2019-11-18 21:48:31.704996,1958.62,606525,False,0 days 00:01:43.865235
3113,21323511,32901,62541,511781******250,2019-11-04 11:22:22.321651,65.35,417645,False,0 days 00:01:40.794694
2252,21322650,34561,65326,490172******2558,2019-11-20 15:24:24.025276,531.38,932955,False,0 days 00:01:39.220814
1934,21322332,7513,67226,526326******5835,2019-11-22 15:01:15.865576,270.69,944054,False,0 days 00:01:37.669210
1484,21321882,9363,67903,478308******3072,2019-11-23 18:13:30.617539,300.86,321795,False,0 days 00:00:51.170361
2931,21323329,77130,75710,554482******7640,2019-11-08 23:12:00.465991,254.37,417645,True,0 days 00:00:41.494183
2929,21323327,77130,75710,554482******7640,2019-11-08 23:15:05.322183,599.13,417645,True,0 days 00:00:29.344880
2927,21323325,77130,75710,554482******7640,2019-11-08 23:18:28.634342,254.25,417645,True,0 days 00:01:20.014697
2355,21322753,40469,76708,544731******4582,2019-11-19 01:37:42.858862,710.11,760553,False,0 days 00:00:43.190374
3141,21323539,8942,76819,552289******8870,2019-11-03 16:09:21.333406,2040.02,417645,True,0 days 00:01:19.429204
3140,21323538,8942,76819,552289******8870,2019-11-03 16:10:00.739538,1038.47,417645,True,0 days 00:00:39.406132
3139,21323537,8942,76819,552289******8870,2019-11-03 16:11:02.048688,1545.40,417645,True,0 days 00:01:01.309150
130,21320528,93520,77959,432957******7262,2019-12-01 11:00:12.687222,2.75,589318,False,0 days 00:00:32.713507
129,21320527,93520,77959,432957******7262,2019-12-01 11:00:36.196460,2.00,589318,False,0 days 00:00:23.509238
926,21321324,56451,85565,544731******4719,2019-11-28 17:21:46.870600,963.35,426184,False,0 days 00:01:35.833243
629,21321027,80155,88553,410863******7755,2019-11-29 15:35:24.506721,280.52,27250,False,0 days 00:01:25.941654
628,21321026,80155,88553,410863******7755,2019-11-29 15:36:16.283879,151.64,27250,False,0 days 00:00:51.777158
1173,21321571,11202,88625,427167******6030,2019-11-26 17:04:23.573237,80.52,917833,False,0 days 00:01:26.030975
147,21320545,81795,90176,545368******9514,2019-12-01 01:07:42.861959,582.63,705388,True,0 days 00:00:37.491833
756,21321154,48126,92259,406669******1721,2019-11-29 00:01:41.332782,1012.42,355583,True,0 days 00:01:56.562116
1925,21322323,49387,98432,455184******9829,2019-11-22 15:18:41.555535,514.89,534341,False,0 days 00:01:38.697087
1411,21321809,88862,98739,606282******2118,2019-11-23 20:28:07.504674,169.45,422057,False,0 days 00:00:53.268905

In [91]:
# Sort the DataFrame
df_sorted = df.sort_values(['user_id', 'transaction_date', 'transaction_amount'])

# Calculate the time and amount difference within each group
df_sorted['time_diff'] = df_sorted.groupby('user_id')['transaction_date'].diff() 
df_sorted['amount_diff'] = df_sorted.groupby('user_id')['transaction_amount'].diff()

# Check if any time differences are less than 5 minutes and the corresponding amount differences are 10
transactions_within_5min_diff_10 = df_sorted[(df_sorted['time_diff'] <= pd.Timedelta(minutes=10)) & (df_sorted['amount_diff'].abs() < 10)]

transactions_within_5min_diff_10

# df_filtered = df[df['user_id'] == 81152]
# df_filtered

,transaction_id,merchant_id,user_id,card_number,transaction_date,transaction_amount,device_id,has_cbk,time_diff,amount_diff
2814,21323212,43078,2866,535081******3568,2019-11-10 23:42:41.103589,165.82,743254,False,0 days 00:06:18.562176,-2.56
2650,21323048,99679,6024,410863******8215,2019-11-15 18:35:48.628972,10.79,701116,False,0 days 00:03:27.875193,5.40
1816,21322214,71378,9853,527407******8091,2019-11-22 18:56:00.388531,22.95,686249,True,0 days 00:06:05.485805,3.78
1814,21322212,71378,9853,527407******8091,2019-11-22 18:57:08.043119,19.82,686249,True,0 days 00:01:07.654588,-3.13
2573,21322971,44459,10405,515894******4290,2019-11-17 01:06:14.821040,258.46,856642,False,0 days 00:00:33.445949,-3.47
1638,21322036,68380,13001,650901******4110,2019-11-23 11:53:17.948760,10.55,715437,False,0 days 00:04:11.730976,-0.36
2943,21323341,77130,42677,515601******8618,2019-11-08 20:41:36.944243,301.58,417645,True,0 days 00:00:18.161919,-2.24
3132,21323530,57964,50105,606282******4832,2019-11-03 18:34:54.311401,2.42,417645,False,0 days 00:09:47.167363,-0.14
1104,21321502,55854,53850,527468******1757,2019-11-27 14:52:06.001713,471.06,20098,True,0 days 00:02:13.381403,-0.04
3113,21323511,32901,62541,511781******250,2019-11-04 11:22:22.321651,65.35,417645,False,0 days 00:01:40.794694,0.64
1934,21322332,7513,67226,526326******5835,2019-11-22 15:01:15.865576,270.69,944054,False,0 days 00:01:37.669210,-3.18
130,21320528,93520,77959,432957******7262,2019-12-01 11:00:12.687222,2.75,589318,False,0 days 00:00:32.713507,0.41
129,21320527,93520,77959,432957******7262,2019-12-01 11:00:36.196460,2.00,589318,False,0 days 00:00:23.509238,-0.75
8,21320406,56107,81152,650516******9201,2019-12-01 21:13:21.529999,352.77,486,True,0 days 00:08:26.463090,7.09
1173,21321571,11202,88625,427167******6030,2019-11-26 17:04:23.573237,80.52,917833,False,0 days 00:01:26.030975,0.06
1411,21321809,88862,98739,606282******2118,2019-11-23 20:28:07.504674,169.45,422057,False,0 days 00:00:53.268905,-9.48

In [97]:
has_chargeback = df['has_cbk'].sum()

print(has_chargeback)

391